<html>
<head>
	<title>Cheatsheet Maker</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
	<!-- Latest compiled and minified CSS -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/about/">About</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Cheatsheet Maker</h3>
      </div>
        <a  class="btn btn-lg btn-success" onclick="window.print()"> PRINT</a>
        <a  class="btn btn-lg btn-success" href="/about_language/"> ABOUT THIS LAUGUAGE</a><br>
        <b><font size = "3">Mode: {{ mode }}</font></b><br>
        {% if l %}
        <b><u>FILL THE MISSING WORDS</u></b>

        {% endif %}
<hr>
      <div class="jumbotron"> 

        <b><font size = "3">{{ data }}</font></b>
      </div>

       <footer class="footer">
        <p>&copy; 2016 Aadit Kapoor.</p>
      </footer>
</body>
</html>